/*About Section*/


.aboutContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;

    .aboutRight {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;

        .aboutItem {
            border: 1px solid var(--color-grey-5);
            border-radius: 5px;
            transition: all 0.5s ease-in-out;
            box-shadow: 1px 2px 15px hsla(0, 0%, 0%, 0.1);

            &:hover {
                cursor: default;
                transform: translateY(0.3125rem);
                border-color: var(--color-secondary);
                box-shadow: 1px 2px 15px hsla(0, 0%, 0%, 0.32);
            }

            .abText {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;

                .lgText {
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-secondary);
                }

                .smText {
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    letter-spacing: 0.125rem;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0.9375rem;
                        width: 2rem;
                        height: 0.125rem;
                        background-color: var(--color-grey-5);
                    }
                }
            }
        }
    }

    .aboutLeft {
        padding-right: 5rem;

        p {
            padding: 1rem;
            color: var(--color-grey-1);
        }

        h4 {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

.aboutStats {
    padding-bottom: 4rem;
    .prgsBars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .progBar{
            display: flex;
            flex-direction: column;
            .progTitle{
                text-transform: uppercase;
                font-weight: 500;
            }
            .progContr{
                display: flex;
                align-items: center;
                .progText{
                    color: var(--color-grey-2);
                }
                .progress{
                    width: 100%;
                    height: .45rem;
                    background-color: var(--color-grey-4);
                    margin-left: 1rem;
                    position: relative;
                    span{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-secondary);
                        transition: all 0.4s ease-in-out;
                        width: 90%;
                    }
                    #engBar{
                        width: 90%;
                    }
                    #htmlBar{
                        width: 90%;
                    }
                    #cssBar{
                        width: 80%;
                    }
                    #jsBar{
                        width: 80%;
                    }

                }
            }
        }
    }
}

.staTitle{
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 40%;
        height: 0.0625rem;
        background-color: var(--color-grey-5);
        transform: translateX(-50%);
    }
}

/*Time line section*/
.timeLine{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-top: 3rem;
    .timeLineItem{
        position: relative;
        padding-left: 3rem;
        border-left: 0.0625rem solid var(--color-grey-5);
        .timeLineIcon{
            position: absolute;
            left: -1.4375rem;
            top: 0;
            background-color: var(--color-secondary);
            width: 3.125rem;
            height: 3.125rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 1.3rem;
            }
        }
        .tlDuration{
            padding: .2rem .6rem;
            background-color: var(--color-grey-5);
            border-radius: 0.9375rem;
            display: inline-block;
            font-size: 0.8rem;
            text-transform: uppercase;
            font-weight: 500;
        }
        h5{
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
            span{
                color: var(--color-grey-2);
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        p{
            color: var(--color-grey-2);
        }
    }

}


