/*Globals*/

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    list-style: none;
}

:root {
    --color-primary: hsl(227, 26%, 13%);
    --color-secondary: hsl(273, 65%, 48%); //hsl(145, 63%, 42%)
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-grey0: hsl(0, 0%, 97%);
    --color-grey-1: hsl(212, 22%, 88%);
    --color-grey-2: hsl(213, 21%, 75%);
    --color-grey-3: hsl(206, 10%, 47%);
    --color-grey-4: hsl(208, 11%, 30%);
    --color-grey-5: hsl(218, 12%, 19%);
    --color-grey-6: hsl(200, 20%, 9%);
    --br-sm-2: 14px;
    --transition-dflt: all .5s ease-in-out;
    --box-shadow-1:0 3px 15px rgba(0,0,0,0.2);

}

.lighTheme{
    --color-primary: hsl(0, 0%, 97%);
    --color-secondary: hsl(145, 63%, 42%);
    --color-white: hsl(0, 0%, 1%);
    --color-grey-5: hsl(225, 2%, 51%);
    --color-grey-1: hsl(180, 1%, 24%);
    --color-grey-2: hsl(214, 13%, 24%);
    --color-grey-4: hsl(207, 14%, 57%);
    
    --color-black: hsl(0, 0%, 0%);
    --color-grey0: hsl(0, 0%, 97%);
    --color-grey-3: hsl(206, 10%, 47%);
    --color-grey-6: hsl(200, 20%, 9%);
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: var(--color-primary);
    font-family: $roboto;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: var(--transition-dflt);
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section{
    transform: translateY(-100%) scale(0);
    transition: animation 0.5s ease-in-out;//var(--transition-dflt);
    background-color: var(--color-primary);

    &.active-sect{
        display: block;
        animation: scaleAnm 1s ease-in-out;
    }
}

@keyframes scaleAnm {
    from{
        transform: translateY(-100%) scaleY(0);
    }
    
    to{
        transform: translateY(0) scaleY(1);
    }
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
    //background-color: aqua;
}

.sec2{
    display: none;
    transform: translateY(0) scale(1);
    //background-color: aquamarine;
}

.sec3{
    display: none;
    transform: translateY(0) scale(1);
    //background-color: yellowgreen;
}

.sec4{
    display: none;
    transform: translateY(0) scale(1);
    //background-color: plum;
}

.sec5{
    display: none;
    transform: translateY(0) scale(1);
    //background-color: green;
}

.bttn-main{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
    .bttn-text{
        padding: 0 2rem;
    }
    .bttn-icon{
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-items: center;
        border-radius: 50%;
        padding: 1rem;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
        z-index: -1;
    }
    &:hover{
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
        }
    }
}

.main-title {
    text-align: center;

    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;

        span {
            color: var(--color-secondary);
        }

        .bgText {
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-5);
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 6.3rem;
        }
    }
}